.button_transaction {
    position: relative;
    float: right;
    margin-right: .5em;
}

.button_manager {
    position: relative;
    float: right;
    margin-right: 2em;
}

.button_add_new {
    position: relative;
    float: right;
    margin-right: .5em;
}

.div_top {
    display: block;
    margin-bottom: 2em;
}